#cartContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconCart {
        position: relative;
        z-index: 1;
        cursor: pointer;
        img {
            width: 40px;
        }
        .totalQuantity {
            position: absolute;
            top: 0;
            right: 0;
            font-size: $fs-2;
            background-color: $color-red-0;
            width: $fs-3;
            height: $fs-3;
            color: $color-white-0;
            font-weight: $fw-bold-1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transform: translateX(20px);
        }
    }
}

.listProduct {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 20px;
    
    .item {
        position: relative;
        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
        h2 {
            font-weight: $fw-bold;
            font-size: $fs-2;
            text-align: center;
        }
        .price {
            font-size: $fs-2;
            text-align: center;
        }
        .list__button {
            position: absolute;
            top: 60%;
            left: 25%;
            background-color: $color-red-0;
            color: $color-white-0;
            width: 50%;
            border: none;
            border-radius: 10%;
            padding: $pd-1 $pd-1;
            box-shadow: 0 10px 50px $color-black-dark;
            cursor: pointer;
            opacity: 0;

            &:hover {
                border: none;
            }
        }
        &:hover .list__button {
            transition: all 0.4s;
            opacity: 1;
        }
    }
}

.cart {
    color: $color-white-0;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: $color-black-0;
    top: 0px;
    right: -100%;
    display: grid;
    grid-template-rows: 30px 1fr 20px 50px;
    gap: 20px;
    transition: right 0.5s;

    h2 {
        color: $color-yellow;
        padding: $pd-3;
        height: 30px;
        margin: 0;
    }
    .buttons {
        
        .checkout {
            background-color: $color-blue;
            color: #000;
        }
    }
    .listCart {
        padding: $pd-3;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        .item {
            display: grid;
            grid-template-columns: 50px 1fr 70px;
            align-items: center;
            gap: 20px;
            margin-bottom: $mg-0;

            img {
                width: 100%;
                height: 70px;
                object-fit: cover;
                border-radius: 10px;
            }
            .name {
                font-weight: $fw-bold-1;
            }
            .quantity {
                display: flex;
                justify-content: end;
                align-items: center;
                span {
                    display: block;
                    width: 50px;
                    text-align: center;
                }
            }
        }
    }
    
    .total-price {
        display: flex;
        justify-content: space-between;
        // Để các phần tử con căn giữa và nằm ở hai đầu trái và phải
        align-items: center;
        // Để căn giữa các phần tử theo trục dọc
        padding-bottom: $pd-2;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        div {
            background-color: $color-black-0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: $fw-bold;
            cursor: pointer;
        }

        a {
            color: $color-white-0;
            text-decoration: none;
        }
    }
}

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: $pd-3;

    .right {
        background-color: $color-purple-1;
        border-radius: 20px;
        padding: $pd-5;
        color: $color-white-0;

        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            border-bottom: 1px solid $color-purple-2;
            padding-bottom: $pd-3;

            h1, .group:nth-child(-n+3) {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            input, select {
                width: 100%;
                padding: $pd-1 $pd-3;
                box-sizing: border-box;
                border-radius: 20px;
                margin-top: $mg-1;
                border: none;
                background-color: $color-purple-3;
                color: $color-white-0;
            }
        }

        .return {

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: $mg-1;

                div:nth-child(2) {
                    font-weight: $fw-bold;
                    font-size: $fs-2;
                }
            }
        }
    }
}
.buttonCheckout {
    width: 100%;
    height: $fs-4;
    border: none;
    border-radius: 20px;
    background-color: $color-blue-2;
    margin-top: $mg-0;
    font-weight: $fw-bold;
    color: $color-white-0;
}

.returnCart {
    a {
        text-decoration: none;
        color: $color-white-0;
    }
    h1 {
        border-top: 1px solid $color-white-0;
        padding: $pd-3 0;
    }
    .list {
        .item {
            display: grid;
            grid-template-columns: 80px 1fr 50px 80px;
            align-items: center;
            gap: 20px;
            margin-bottom: $mg-0;
            padding: 0 $pd-1;
            box-shadow: 0 10px 20px $color-gray-2;
            border-radius: 10px;

            img {
                height: 70px;
            }

            .name, .returnPrice {
                font-size: $fs-2;
                font-weight: $fw-bold;
            }
        }
    }
}