.btn--white {
    @include button($color-gray-4, $color-white-0, $color-black-light, $fw-bold-0, $color-gray-1);
    
}

.btn--red {
    @include button($color-white-0, $color-red-0, $color-red-0, $fw-bold-0, $color-red-2);
    
}
button {
    &:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}